.img {
    height: 500px;
    object-fit: cover;
}
.carousel .control-dots .dot {
    width: 30px;
    height: 5px;
    border-radius: 0;
}
.carousel .thumbs {
    display: none;
}

.thumbs-wrapper {
    display: none;
}
